@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: overlay;
}

.title-bar {
  -webkit-app-region: drag;
}

.title-bar button {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  @apply w-2
}

::-webkit-scrollbar-thumb {
  @apply bg-indigo-800 rounded-full
}

::selection {
  @apply bg-indigo-500 text-white
}